    <!-- Navbar -->
    <nav class="navbar navbar-light bg-success">
        <a class="navbar-brand text-white" id="" href="#">
            <img src="../assets/magi_transparent.png" width="65" height="50" class="d-inline-block align-top" alt="">
            MAJi
        </a>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>

    <!-- Full Container -->
    <div class="container">
        <div class="jumbotron-fluid">
            <div class="row">
                <div class="col-md-12  text-center" >
                    <form>
                        <div class="form-group">
                          <label for="companyName" id="titleText"><h2>Input Company Name</h2></label>
                          <input type="text" class="form-control shadow" id="companyName">
                        </div>
                        <button type="submit" class="btn btn-primary shadow">Submit</button>
                      </form>
                      <br>
                </div>
            </div>
        </div>
    </div>
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    
    <!-- JS Link -->
    <script src="server.js"></script>