#mainContainer {
  border: 10px solid white
}

.navListing:hover {
  opacity: .5;
    transition: opacity .6 ease-out;
    -moz-transition: opacity .6s ease-out;
    -webkit-transition: opacity .6s ease-out;
    -o-transition: opacity .6s ease-out;
}

form.signup,
form.login {
  margin-top: 50px;
}

#titleText {
  
}

#logoBlock {
border-right: 10px solid white
}


#buttonsBlock {
  padding-left: 0;
  padding-right: 0
}

@media screen and (max-width: 800px) {
  #buttonsBlock {
    text-align: center
  }
}

.sticky-footer {
  width: 100%;
  height: 8%;
  background: green;
  position: fixed;
  bottom: 0;
  text-align: center;
  color: white;
  padding-top: 12px;
  border-top: 8px solid lightgrey;
  clear: both;
  margin-top: 185px;
}